body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
  width: 100%;
}

.popup-btn {
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 5px;
}
